/node_modules
/public/hot
/public/storage
/public/sitemap.xml
/storage/*.key
/storage/manifest
/storage/manifest/*
/vendor
/public/mix-manifest.json
/public/css/autoprefix
/public/css/compiled
/public/css/compiled/*
/public/js/compiled
/public/js/compiled/*
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
