h1 {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  position: relative;
}

h2.stats-container-header {
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin: 0;
  position: relative;
}

#sub-menu {
  display: none;
}

.nav-item {
  text-align: left;
}